body {
    cursor: url("abe.cur") 4 12, url("abe.png") 4 12, url("abe.png"), pointer;
}

#sample {
    width: 300px;
    height: 300px;
    border: #000 1px solid;
    cursor: url(abe2.cur), url(abe.cur), auto;
}


h1 {
    color: red;
}