body {
    cursor: url(abe2.png), pointer;
    width: 100%;
    height: 700px;
    border-bottom: 1px solid black;
    text-align: center;
    background-color: #DDD;
}

.music {
    margin: 70px auto;
}

.sample01 {
    width: 200px;
    height:200px;
    background-image: url(abe.png);
}

.sample02 {
    width: 100px;
    height:100px;
    margin-left: 200px;
    background-image: url(koike.png);
}