body {
    width: 100%;
    margin: 0;
}

.top {
    position: relative;
    cursor: url(abe2.png), pointer;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid black;
    text-align: center;
    background-color: #FAFAFA;
    overflow: hidden;
}

.phone-item {
    display: none;
}

.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin: 0 auto;
    margin-top: 40px;
    background-image: url(haga.png);
}

h1 {
    margin-top: 20px;
    font-size: 2rem;
    color: #3E4357; 
}

/* navコンテンツ１　アプリ */
.app-wrap {
    background-color: #3E4357;
    width: 50%;
    margin: 0 auto;
}


/* navコンテンツ３　music */
.pc-music {
    margin: 70px auto;
}

.smart-music {
    display: none;
}


/* アニメーション画像 */
.sample01 {
    position: absolute;
    width: 78px;
    height:100px;
    background-image: url(abe3.png);
}

.sample02 {
    position: absolute;
    width: 100px;
    height:100px;
    margin-left: 200px;
    background-image: url(koike.png);
}

.sample03 {
    /* position: absolute; */
    width: 200px;
    height:200px;
    background-image: url(kirin.png);
}

/* タブ */
.nav {
    margin: 40px auto;
    width: 50%;
}

ul li {
    display: inline-block;
    width: 30%;
    margin: 0 auto;
}

ul li a {
    color: #3E4357;
}

ul li:hover {
    color: #39A2F2;
}

.nav-link.active, .nav-item.show .nav-link {
    /* color: #39A2F2 !important; */
    color: white !important;
    background-color: #3E4357 !important;
}

.tab-content {
    margin-top: 50px;
    height: 500px;
}
/* ここまで */

@media screen and (max-width: 500px) {
    .top {
        height: 100%;
    }

    .app-wrap {
        width: 100%;
    }

    .pc-item {
        display: none;
    }

    .phone-item {
        display: inline-block;
    }

    h1 {
        font-size: 2rem;
    }

    .pc-music {
        display: none;
    }

    .smart-music {
        margin: 20px auto;
        display: block;
    }

    .nav {
        width: 100%;
    }

    .tab-content {
        height: 400px;
    }
}